*{
    margin: 0;
background-color: powderblue;
}
.container{
    background-color: black;
    align-items: center;
    justify-content: center;
}
.heading{
    background-color:blue;
}
.container1{
    background-color: black;
}